.bgImg {
    background: url(http://i2.muimg.com/591259/402b9c442c1afeaa.jpg);
    height: 100%;
}

@media screen and (max-width:768px) {
    .bgImg {
        background: url(http://i2.muimg.com/591259/402b9c442c1afeaa.jpg);
        height: 100%;
    }
}