.bgImg {
    background: url(http://i2.muimg.com/591259/6d8611fac1a0943c.jpg);
    background-attachment: fixed;
    height: 100%;
}

@media screen and (max-width:768px) {
    .bgImg {
        background: url(http://i2.muimg.com/591259/6d8611fac1a0943c.jpg);
        height: 100%;
    }
}