.bgImg {
    background: url(http://i4.buimg.com/591259/26055bc56cf22916.jpg);
    height: 100%;
}

@media screen and (max-width:768px) {
    .bgImg {
        background: url(http://i4.buimg.com/591259/26055bc56cf22916.jpg);
        height: 100%;
    }
}