<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="bgh65"></div>
            <app-ad></app-ad>
        </div>
        <div class="col-md-9">
            <h3 class="title"><strong>联系我们</strong></h3>
            <hr class="hr" />

            <div class="container">
                <div class="row ">
                    <div class="col-md-5 ">
                        <div class="gaodemap-container hoverable bgCard" id="gaodemap-container" tabindex="0"></div>
                    </div>

                    <div class="col-md-7">

                        <br/><br/>
                        <br/><br/>
                        <br/><br/><br/>
                        <a class="content">咨询电话：15008114260（李老师）</a> <br/><br/>
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2718796540&site=qq&menu=yes" class="content">在线QQ:1665863324（李老师） </a> <br/><br/>
                        <a href="http://ditu.amap.com/search?id=B0FFHT1T7N&city=510124&geoobj=104.151373%7C30.672987%7C104.161941%7C30.679658&query_type=IDQ&query=%E5%9B%9B%E5%B7%9D%E7%9C%81%E8%BD%BB%E5%B7%A5%E5%B7%A5%E7%A8%8B%E5%AD%A6%E6%A0%A1&zoom=17" target="view_window" class="content">地址：成都市郫都区菁蓉新城稻香路38号</a> <br/><br/>
                        <a class="content">邮编：611730</a> <br/><br/>
                        <a class="content">欢迎到校参观考察，成都各大车站有校车免费接送</a> <br/>

                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

<div class="bgh20"></div>