<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="bgh65"></div>
           <app-ad></app-ad>
        </div>
        <div class="col-md-9">
            <h3 class="title"><strong>联系我们</strong></h3>
            <hr class="hr" />

            <div class="container">
                <div class="row ">
                    <div class="col-md-5 ">
                         <div class="gaodemap-container hoverable bgCard" id="gaodemap-container" tabindex="0"></div>
                    </div>

                    <div class="col-md-7">
                        <br/><br/>
                        <br/><br/>
                        <br/><br/><br/>
                        <a class="content">咨询电话：15982265551</a> <br/><br/>
                        <a class="content">在线QQ:1665863324 郑老师</a> <br/><br/>

                        <a href="http://j.map.baidu.com/A3WYj" target="view_window" class="content">地址：成都市新津县花源镇白云大道115号</a> <br/><br/>
                        <a class="content">邮编：611433</a> <br/><br/>
                        <a class="content">欢迎到校参观考察，成都各大车站有校车免费接送</a> <br/>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

<div class="bgh20"></div>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>