.bgImg {
    background: url(http://i2.muimg.com/591259/f8708bb6c39e98ef.jpg);
    height: 100%;
}

@media screen and (max-width:768px) {
    .bgImg {
        background: url(http://i2.muimg.com/591259/f8708bb6c39e98ef.jpg);
        height: 100%;
    }
}