<div class="container">
    <article>
        <section>
            <h2 class="text-center">“智能+医疗”=人工智能?|政府工作报告开启云平台云竞技</h2>
            <hr />
            <img src="../../../assets/img/a31.jpeg" alt="" class="img-responsive hoverable center-block">
            <hr />
        </section>
        <section>
            <h4 class="text-center">美国人工智能及云计算巨头不约而同发力医疗领域</h4>
            <hr />
            <p>作为人工智能和云计算技术强国，美国公司动向值得关注。而在“人工智能+医疗”方面，亚马逊、微软、谷歌等巨头都在加大投入跑马圈地。</p>
            <p>亚马逊云联合美国心脏新会搭建了名叫AHA的精准医疗云平台，通过分析心血管疾病患者的基因和生活数据，研究心血管疾病发病原因、明确治疗目标、找出诊断研究的新生物标记，实现预防和治疗心血管疾病的目标。这对个人以及拥有大量级心血管疾病数据库的机构而言，都是一次深刻的变革。</p>
            <p>微软云平台则实现了网络安全传输医疗影像。之前受限于法律和技术限制，医疗影像不能通过网络方便传输。采用微软云的技术之后，患者可以直接接收自己的医疗影像，医生之间也可以通过微软云平台共享图像，探讨治疗方案。这给行业营造了更安全和便利环境。</p>
            <p>谷歌云在医疗方面也有关注，其首席科学家李飞飞表示“最愿意看到人工智能在医疗健康领域的应用”，并预测医学影像、精准医疗可能率先发展。</p>
            <img src="../../../assets/img/a32.jpg" alt="" class="img-responsive hoverable center-block">
        </section>
        <section>
            <hr />
            <h4 class="text-center">美国人工智能及云计算巨头不约而同发力医疗领域</h4>
            <hr />
            <p>基因测序技术已经发展四十年，目前测序成本已大幅降低，让大规模商业化成为可能。但数据多不代表应用就更强，如何对海量数据进行深入分析并输出有用成果，一直是行业难点：</p>
            <p>第一是基因数据量庞大。一个人的基因测序原始数据高达约200G，一套IlluminaX10测序仪每年可产生1.8万个基因组测序数据。如此庞大数据量，对数据存储和处理提出很高要求，一般企业难以解决。</p>
            <p>第二是多样本关联分析较弱。到目前为止，还有70%位点突变意义并未明确，而多样本分析对数据处理要求更高，行业急需机器学习、人工智能等技术应用到基因数据处理分析。</p>
            <p>以往企业往往利用自建数据中心、租用高性能计算等方式解决，但成本高昂、维护困难、数据共享交换困难、缺乏标准数据库支持等现实问题依然突出。百度云对相关产业的现实应用是：测序中心、科研与临床用户以及SaaS服务提供商共同搭建数据分析流程，平台数据有统一输入输出接口，数据从零散化发展到标准化，极大地降低数据整理和输出的难度，也让大规模分布式协作成为可能。</p>
            <p>以百度云为华大基因部署的BGI BRCA Online平台为例，通过自身海量计算能力为乳腺癌、卵巢癌的科研应用提供基因测序数据分析服务，提升数据整理分析效率，对病情诊断和疾病发现有显著作用。</p>
            <p>国内多家基因测序和精准医疗企业已经和百度展开合作，比如某医药企业在百度云上部署NextCode系统，为中国科学家研究、临床诊断罕见病及常见病提供精准的基因测序及数据分析服务。某生物技术企业利用百度的技术优势，研发部署在百度云上的“晶典云”，大幅降低成本并提高组学数据分析速度，以此建立适用于相关用户的精准医疗大数据云平台，挖掘和管理健康、疾病数据。</p>
            <p>当前人工智能和云计算是各方争抢的焦点，国外有亚马逊、微软、谷歌等公司入局，中国有阿里巴巴、腾讯、百度等入局。人工智能、云计算应用到医疗领域都是新兴科技，国内外公司可以说站在同一起跑线。以往都是中国公司Copy美国模式，但这次<strong>百度云作为百度人工智能的输出平台，正在帮助医疗机构和企业进人工智能时代，并可能在此领域实现对欧美国家的历史性超越。</strong></p>
        </section>
    </article>
</div>

<script>
    (function() {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>