<div class="card card-blog hoverable">
    <div class="card-image">
        <img src="../../../assets/img/test235x140.bmp" alt="...">
        <img src="http://i1.piimg.com/567571/d2865080c7d31a3a.jpg" alt="...">
        <div class="ripple-cont"></div>
    </div>
    <div class="table">
        <p><a class="btn btn-success btn-block " role="button">在线咨询</a> </p>
        <p><a class="btn btn-success btn-block " role="button" routerLink="/baoming">在线报名</a> </p>
        <p><a class="btn btn-success btn-block " role="button">预约参观</a> </p>
    </div>