<div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let remen of remens">

        <div class="card card-blog hoverable ">
            <div class="card-image">
                <a [routerLink]="remen.link" > <img class="center-block" [src]="remen.img"></a>
                <div class="ripple-cont"></div>
            </div>
            <div class="table">
                <h6 class="category fontPrimary">{{remen.title}}</h6>
                <p class="card-description"> {{remen.des}}</p>
                <div class="ftr text-center"> <a [routerLink]="remen.link" class="btn   hoverable btn-primary">更多信息</a> </div>

            </div>
        </div>
    </div>
</div>