

.maincolor {
    color: #e98919
}

.blackColor {
    color: #000000
}
.carouselSize{
    height: 300px;
    width:100%
}
.floatRight{
    float: right;
}
.CarouselHeight{
    height: 270px
}

