.bgImg {
    background: url(http://i2.muimg.com/591259/ddfac24af24162a0.jpg);
    height: 100%;
}

@media screen and (max-width:768px) {
    .bgImg {
        background: url(http://i2.muimg.com/591259/ddfac24af24162a0.jpg);
        height: 100%;
    }
}